<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <main class="max-h-100 min-h-screen min-w-full bg-gradient-to-b bg-blue-100 flex justify-center">
        <div
            class="m-auto bg-white shadow-lg shadow-cyan-500/50 w-min-w min-h-min sm:max-w-5xl md:max-w-7xl rounded-2xl font-sans mx-2 md:mx-12">
            <div id="quiz" class="quiz px-2 sm:px-12 py-4 overflow-auto">
                <div id="messages" class="max-h-80 h-80 min-w-full max-w-sm py-2 overflow-auto"></div>
                    <form class="form-inline flex justify-between py-2" id="chat-form">
                        <input type="text" class="form-control mr-2 max-w-xl md:max-w-full" placeholder="Введите сообщение">
                        <button id="send" type="submit"
                            class="btn-next rounded-3xl text-md bg-blue-100 px-2 py-1 md:ml-12 shadow-md">Отправить</button>
                    </form>
            </div>
        </div>
    </main>
    <script>
        $(document).ready(function () {
            var receiver = "";
            var socket = new WebSocket("ws://127.0.0.1:8000/api/chat");
            var count = 1;
            socket.onmessage = function (event) {
                var parent = $("#messages");
                var message = JSON.parse(event.data)['message']
                if (message != undefined) {
                    var content = "<p>" + count + " " + message + "</p>";
                    count += 1;
                    parent.append(content);
                    parent.scrollTop(parent.get(0).scrollHeight);
                }
            };
            $("#chat-form").on("submit", function (e) {
                e.preventDefault();
                var message = $("input").val();
                if (message) {
                    data = {
                        "message": message
                    };
                    socket.send(JSON.stringify(data));
                    $("input").val("");
                    document.cookie = 'path=/;';
                }
            });
        });
    </script>
</body>

</html>